<<<<<<< Updated upstream
h1{
font-size: 50px;
text-align: center;
color: white;
margin: 0;
font: italic small-caps bold 100px/2 cursive;
}
h2{
text-align: right;

}
.BOM{
    text-wrap: 1px;
}
body{
    color: whitesmoke;
    background-color: black;
    margin: auto; 
    padding: 1em;
    
}
.top-menu li{
    display: inline-block;
    margin-right: 20px;
    margin-block: 0;
}
.top-menu a:hover {
    background-color: #ddd;
    color: rgb(238, 134, 65);
  }

  .main-header{
    text-align: center;
    padding: 20px;
  }

nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(27, 25, 22);
    padding: 0.3em;
    }
    nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 30px;
    row-gap: 2em;
    margin: 1em;
    }
.top-menu{
    display: inline-block;
    margin-right: 20px;
    margin-block: 0;
}
.top-menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.navbarH a:hover {
    background-color: #ddd;
    color: rgb(238, 134, 65);
  }
  footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
  }
.content {
    background: orange;
    margin: 1rem;
    padding: 1rem;
    flex: 1;
    color: white;
    display: flex;
}

.content > span {
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: blue;
    flex: 1
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
  }
  
  .menu {
    font-family: sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    text-align: left;
    color: #fda607;
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
  }
  
  .menu-item-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
    border-radius: 20%;
    border: 4px solid #333333;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }
  
  .menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }
  
  .menu-item-desc {
    line-height: 1.6;
  }
  
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-img {
      width: 125px;
      height: 125px;
    }

    .info {
        padding: 15px;
        padding-bottom: 100px;
        text-align: center;
        font-size: large;
      }
      
  }